@charset "utf-8";
/* CSS Document */
body{
	font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
	background:#fff;
  	}
time{
	color:#ccc;
	}
/* app list margin */	
.appRow .appPatch{
	margin:-20px 0 0 -20px;
	}
.latticePad{
	margin:20px 0 0 20px;
	}
/* row margin */
.boxBlock{
	margin-left:20px;
 	}
.rowPatch{
	margin-left:-20px;
	}
/* color */
a{ 
	color:#666;
	text-decoration:none;
	}
a:link{}
a:hover{
	color:#FF6600;
	text-decoration:none;
	}
a:active{}
mark{
	background:none;
	color:#FF6600;
	}
div,ul,li,dl,dt,dd,a,tr,td,th,hr,select{
	border-color:#ccc;
	}
.tableTitleBg{
	background:#efefef;
	line-height:30px;
	}


.important,a.important,.important a{color:#FF6600;}
.lesser,a.lesser,.lesser a{ color:#333;}
.note,a.note,.note a{ color:#999;}

/* title size,text size */
h1{font-size:}
h2{font-size:30px;}
h3{font-size:26px;}
h4{font-size:22px;}
h5{font-size:18px;}
h6{font-size:16px;}

.textMini{font-size:12px;}
.textMedium{font-size:18px;}
.textLarge{font-size:24px;}

/* input box */	
.formSelect {
	height: 35px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.42857143;
	border-style:solid;
	border-width:1px;
	background-image: none;
	vertical-align:middle;
	margin-right:5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	}
.formSelect {
	height: 35px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.42857143;
	border-style:solid;
	border-width:1px;
	background-image: none;
	vertical-align:middle;
	margin-right:5px;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	}
.textInput{
	height:35px;
	line-height:35px;
	font-size:12px;
	color:#666;
	border:1px solid #ccc;
	background:#fff;
	border-radius:0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	resize:none;
	font-family:AppleGothic,Arial,'Microsoft Yahei','Simsun';
	}
textarea{
 	font-size:12px;
 	padding-top:5px;
	color:#666;
	border:1px solid #ccc;
	background:#fff;
 	height:70px;
	overflow-y:auto;
	border-radius:0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	font-family:AppleGothic,Arial,'Microsoft Yahei','Simsun';
	}
	
.textInput:hover,textarea:hover{
	border:1px solid #333;
	}
.textInput.focus,textarea.focus{
	border:1px solid #000;
	}
.textInput.error,textarea.error{
	border:1px solid #FF0000;
	}
.textInput.success,textarea.success{
	border:1px solid #FF6600;
	}
.textInput.disabled,textarea.disabled{
	cursor:default;}

.textInput.mini{
	height:20px;
	line-height:20px;
	}
.textInput.medium{
	height:26px;
	line-height:26px;
	}
	
.textInput.large{
	height:40px;
	line-height:40px;
	}
/* button */
.btn{
	height:35px;
	line-height:35px;
	display:inline-block;
	padding:0 20px;
	text-align:center;
 	color:#666;
	text-decoration:none;
	background:#E6E6E6;
	font-size:12px;
 	margin-right:5px;
 	}
.btn:hover{
	opacity:0.8;
 	text-decoration:none;
	color:#666;
	}
.btn.important{
	background:#FF6600;
	color:#fff;
	}
.btn.lesser{
	background:#FF6600;
	color:#fff;
	}
.btn.lesser:hover{
	color:#fff;
	}
.btn.disabled{
	opacity:0.6;
	cursor: default;
	}

.btn.mini{
	height:20px;
	line-height:20px;
	padding:0 10px;
	font-size:12px;
	}
.btn.medium{
	height:26px;
	line-height:26px;
	padding:0 15px;
	}
.btn.large{
	height:40px;
	line-height:40px;
	padding:0 35px;
	}
.selectBtn{
	display: inline-block;
	margin-right:5px;
	height:24px;
	line-height:24px;
	padding:1px 10px;
	border:1px solid #ccc;
	font-size:12px;
	position:relative;	
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;	
	}
.selectBtn i:after{
	content:'';
	z-index:99;
	display:block;
	position:absolute;
	width:6px;
	height:2px;
	border-width:2px;
	border-style:solid;
	border-color:transparent transparent #fff #fff;
	bottom:-5px;
	right:-8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg); 
	transform: rotate(-45deg);
	}
.selectBtn i{
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-width:8px;
	border-style:solid;
	border-color:transparent #FF6600 #FF6600 transparent;				
	right:0;
	bottom:0;
	display:none;				 
	}
.selectBtn.active{
	border:2px solid #FF6600;
	padding:0 9px;
	}
.selectBtn.active i{
	display:block;
	}
.selectBtn:hover{
	text-decoration:none;
	border-color: #FF6600;
	}
/* button End */
 
/* */
.footerContainer,
.mainContainer,
.headerContainer{
	margin:0 auto;
  	}
.main{
 	padding-bottom:20px;
	 
	}
.footer{
	background:#f5f5f5;
 	padding:20px 0;
	}




/* common app */
.header .appWrapper{
	margin:0;
	border:none;
	background:none;
	color:#999;
	}
.con_header{
 	position:relative;
	
	border-width:0 0 1px 0;
	border-style:solid;
 	margin-bottom:10px;
   	}
.con_header h2{
	margin: 0;
  	font-size:16px;
	color:#FF6600;
 	}
.main .appWrapper{
	margin:20px 0 0 0;
   	}

/* common app End */


/* layout header */
.cartQuantity{
	background:#FF0000;
	border-radius:10px;
	height:14px;
	line-height:14px;
	display:inline-block;
	padding:0 6px;
	color:#fff;
	font-size:12px;
	}
 
/* logo app */

/* nav */

.navBar .con_body{
	background:#FF6600;
  	}
.nav_1 ul{
	list-style:none;
	margin:0;
 	padding:0;
 	}
.nav_1 ul li{
	display:inline-block;
	position:relative;
	z-index:999;
  	}
.nav_1 ul li a{
	padding:0 15px;
	font-size:14px;
	line-height:35px;
	display:inline-block;
 	}
.navBar ul li a{
	color:#fff;
 	}
.navBar ul li:hover,.navBar ul li.selected{
	background:#104281;
	}
.navBar ul li:hover a,.navBar ul li.selected a{
	text-decoration:none;
	color:#fff;
	}
	
/* more */
ul.moreNav{
	position:absolute;
	right:0;
	top:35px;
	display:none;
	}
li.over ul.moreNav{
	display:block;
	}
ul.moreNav li{
	background:#FF6600;
	width:120px;
	}
ul.moreNav li a{
	display:block;
	color:#fff;
	}
ul.moreNav li.selected{
	background:#D55500;
	}
/* hideContent */
.navBar li.mouseenter{
	background:#D55500;
	}
.navHideContent{
	background:#FF6600;
	position:absolute;
	top:150px;
	left:115px;
	z-index:99;
	max-width:767px;
	white-space:nowrap;
	padding:10px;
 	}
.navHideContent{
	color:#fff;
	}
.navHideContent a{
	color:#fff;
	}
.navHideContent a:hover{
	color:#fff;
	}

/* menuListVertical */
.menuListVertical{
  }
.menuListVertical ul{
	padding:0;
	margin:0;
 }
.menuListVertical li{
	position:relative;
}
.menuListVertical li a{
	line-height:35px;
	display: inline-block;
 	color:#666;
 	}

.menuListVertical li.selected,.menuListVertical li.selected:hover{
	background:#FF6600;
 	}
.menuListVertical li.selected a{
	color:#fff;
 	text-decoration:none;
	}
.menuListVertical li:hover a{
	color:#FF6600;
	text-decoration:none;
  	}
/* menuListVertical End*/
/* layout footer */
 
#span_footer .copyright .appContent{
	background:none;
	border:none;
	margin:0;
	text-align:center;
	padding:20px 0;
 	}
.copyright a{
 	}

 
@media (max-width: 767px) {
	/* common app */
	.con_header h2{
		margin: 0;
  		font-size:16px;
 		}
	.con_body{
 		}
	/* common app End */
	/* title size,text size */
	h1{font-size:}
	h2{font-size:24px;}
	h3{font-size:20px;}
	h4{font-size:18px;}
	h5{font-size:16px;}
	h6{font-size:12px;}
	
	.textMini{font-size:12px;}
	.textMedium{font-size:16px;}
	.textLarge{font-size:20px;}
	
	/* input box */	
.textInput{
		height:35px;
		line-height:35px;
		}
	.textInput.mini{
		height:20px;
		line-height:20px;
		}
	.textInput.medium{
		height:26px;
		line-height:26px;
		}
		
	.textInput.large{
		height:35px;
		line-height:35px;
		}
	/* input box End */
	
	/* button */
	.btn{
		height:32px;
		line-height:32px;
		display:inline-block;
		padding:0 15px;
	}
	.btn.mini{
		height:20px;
		line-height:20px;
		padding:0 10px;
		}
	.btn.medium{
		height:26px;
		line-height:26px;
		padding:0 15px;
		}
	.btn.large{
		height:35px;
		line-height:35px;
		padding:0 25px;
		}
	/* button End */
	 
	.logo{
		text-align:center;
		}
	
	/* nav */

	.nav_1{
		position:relative;
		height:37px;
		margin:0;
		z-index:100;
		padding:0;
		}
	.nav_1>ul>li:after{
		display:none;
		}
	.nav_1 ul{
		position:absolute;
		left:0;
		right:0;
		top:0;		
 		height:35px;
		text-align:left;
		}
	.nav_1 ul li{
		display:none;
		background:#fff;
 		position:relative;
		border-left:1px solid #BB4A00;
		border-right:1px solid #BB4A00;
		}
	.nav_1 ul.phone_active li,
	.nav_1 ul li.selected{
		display:block;
		}
	.nav_1 ul li a{
		color:#666;
		line-height:35px;
		display:block;
		font-size:14px;
		padding:0 10px;
		}
	.nav_1 ul li.selected{
		background:#FF6600;
		border-top:1px solid #BB4A00;
		border-bottom:1px solid #BB4A00;
		}
	.nav_1 ul li.selected a{
		color:#fff ;
		}
	 .nav_1 ul li:last-child{
 		 border-bottom:1px solid #BB4A00;
		 }
	
	
	.nav_1 ul.phone_active li{
		display:block;
		}
	.nav_1 ul.phone_active li a{
		}
	
	.nav_1 ul li:hover{
		background:#BB4A00;
		color:#fff;
		}
	.nav_1 ul li.selected:before{
		content:'';
		display:block;
		position:absolute;
		width:0;
		height:0;
		right:10px;
		overflow:hidden;
		border-width:6px 5px 0 5px;
		border-style:solid;
		border-color:#fff transparent transparent transparent;
		margin-left:-3px;
 		top:16px;
		}
	.nav_1 ul li.selected:hover:before{
		border-color:#fff transparent transparent transparent;
		}
	/* menuListVertical */
	.menuListVertical{
 		position:relative;
		height:35px;
		z-index:99;
		}
	.menuListVertical ul{
		margin:0;
		padding:0;
		position:absolute;
		left:0;
		right:0;
 	}
	.menuListVertical li a{
		display:block;
		padding-left:5px;
		}
	.menuListVertical li.topMenu{
		background:#f5f5f5;
		
	}
	ul.active li.topMenu{
		background:#ccc;
		}
	.menuListVertical li.topMenu a{
		color:#333;
		
 		}
	.menuListVertical li{
		background:#f5f5f5;
		border-bottom:1px solid #fff;
		}
	.menuListVertical li.topMenu:after{
		width:7px;
		height:4px;
		background:url(../images/open.gif) no-repeat;
		overflow:hidden;
		display: inline-block;
		position:absolute;
		right:12px;
		top:50%;
		margin-top:-2px;
		content:"";
	}
		/* menuListVertical End*/
}
@media (max-width:767px) {
	
}
@media (min-width: 768px) and (max-width: 979px) {
	
	
}



/*crumbs*/
.crumbs{
	overflow:hidden;
	display:inline-block;
 	position: relative;
	top:-6px;
	}			
.crumbs span{
	height:26px;
	display:inline-block;
	float:left;
	padding:0 12px 0 8px;
	background:#efefef;
	line-height:26px;
	position:relative;
	min-width:75px;
	color:#666;
	text-align: right;
	font-size:12px;
	}
.crumbs span i,.crumbs span b{
	width:0;
	height:0;
	display:block;
	position:absolute;
	border-width:30px 0 30px 30px;
	border-style:solid;
	border-color:transparent transparent transparent #fff;
	top:-17px;
	right:-30px;
	z-index:1;
	}	
.crumbs span b{
	border-width:25px 0 25px 25px;
	z-index:2;
	border-color:transparent transparent transparent #efefef;
	right:-21px;
	top:-12px;
	}
.crumbs span.active{
	background:#FF6600;
	color:#fff;
	}
.crumbs span.active b{
	border-color:transparent transparent transparent #FF6600;
	}
/* crumbs End */
/* search */
.search{
	position:relative;
	}
.searchInput{
	margin-right:44px;
	position:relative;
	}
.searchInput input{
	width:100%;
	border:none;
 	background:#fff;
	border:1px solid #ccc;
 	height:26px;
	line-height:26px;
	padding:0;
	font:14px/1.5 AppleGothic,Arial,'Microsoft Yahei','Simsun';
	color:#666;
	}
.searchBtn{
	display: block;
	position:absolute;
	right:0;
	top:0;
	height:26px;
	line-height:26px;
	text-align:center;
	width:45px;
	background: #FF6600;
	color:#fff;
	}
.searchBtn:hover{
	color:#fff;
	text-decoration:none;
	}
/* search End */


/* menuListHorizontal */
.menuListHorizontal{}
/* menuListHorizontal End*/

/* pic list */
.picList{
	}
.picList ul{
	margin:0;
	list-style:none;
	margin-left:-20px;
	}
.picList li div{
	padding-left:20px;
	}
.picList li{
	float:left;
	width:25%;
	padding:0 0 20px 0;

}
.picList:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
@media (max-width: 767px) {
	.picList li{
		float:left;
		width:50%;
	
	}
}
/* pic list End */

/* list */
.list ul{
	list-style:none;
	margin:0;
}
.list li a{
	line-height:28px;
	display:block;
	padding-left:10px;
	background:url(../images/listStyle.png) no-repeat 0 -19px;
	overflow:hidden;												 
	text-overflow:ellipsis;
	white-space:nowrap;
	}
.list li a:hover{
	background:url(../images/listStyle.png) no-repeat 0 12px;
	}

.list:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
 
/* list End */

/* article */
.article{
	padding:20px 0 0 0;
	margin-top:20px;
	border-top-width:1px;
	}
.article .header{}
.article .header h3{}
.article .header{}
.article article{}
/* article End */
section{}
section{}
section h3{}
section time{}
section p{}
/* section End */

/* formList */
.formList>ul{
	list-style:none;
	margin:0 0 25px 0;
	}
.formList li{
	float:left;
	line-height:40px;
	}
.formList>ul:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}
.formList li.left {
	width:100px;
	display:inline-block;
	}
.formList li.right{
	float:none;
	margin-left:100px;
	}
.formList li .textInput,.formList li textarea{
	width:100%;
	max-width:500px;
	}
.formListTips{
	display:inline-block;
	margin-left:5px;}

@media (max-width: 767px) {
	.formList>ul{
		margin:0 0 15px 0;
		}
	.formList li{
		float: none;
		line-height:25px;
		}
	.formList li.left {
		width:auto;
		display:inline-block;
		}
	.formList li.right{
		margin-left:0;
		}
	.formListTips{
		display:block;
		margin-left:0;
	}
}
/* formList */

/* formList */
.infoList ul{
	padding:15px 0 0 0;
	margin:0;
	list-style:none;
	}
.infoList ul:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
	}
.infoList ul li{
	float:left;
	line-height:30px;
	}
.infoList ul li.left{
	width:100px;
	display:inline-block;
	}
.infoList ul li.right{
	margin-left:100px;
	float:none;
	}


/* formList */

/* tabs */
.tabs{
	border-width:0 0 1px 0;
	border-style:solid;
	padding:0 0 0 5px;
	}
.tabs a{
	display:inline-block;
	height:30px;
	line-height:30px;
	font-size:14px;
	padding:0 15px;
	margin-bottom:-1px;
	
	}
.tabs a:hover{}
.tabs a.active{
	border-width:1px 1px 0 1px;
	border-style:solid;
	background:#fff;
	}
/* tabs End */
.empty{
	padding:20px 0;
	}




	

/* app paging */
.selectPageContainer{
	text-align:center;
	padding:20px 0 10px;
	}
.selectPageContainer a.more {
    display: inline-block;
    text-align: center;
    width: 100%;
	padding:0;
	margin:0;
}
.selectPage a{
	font-size:14px;
	display:inline-block;
	height:30px;
	line-height:30px;
	margin:0 3px;
	padding:0 11px;
	background:#ddd;
	vertical-align:middle;
	text-decoration:none;
	color:#666;
	}
.selectPage a:hover{
	background:#FF6600;
	text-decoration:none;
	color:#fff;
 	}
.selectPage a.active{
	color:#fff;
	background:#FF6600;
	}
/* tips */
.tipsLoading,.tipsBox,.tipsSuccess,.tipsError{
	min-width:180px;
 	position: fixed;
 	z-index:1001;
	text-align:center;
	top:10px;
	}
.tipsLoading{
	background:#FCDFA5;
	color:#333;
	}
.tipsBox{
	background:#ccc;
	color:#333;
	}
.tipsSuccess{
	background:#333;
	color:#fff;
	}
.tipsError{
	background:#FF9933;
	color:#fff;
	}
.loadingIco{
	width:18px;
	height:18px;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	background:url(../../../../static/images/loading.gif) no-repeat;
	margin-right:5px;
	}
.whiteCorrectIco{
	width:20px;
	height:13px;
	display:inline-block;
	overflow:hidden;
	background:url(../../../../static/images/icon.png) no-repeat 0 -150px;
	vertical-align:middle;
	margin-right:5px;
	}
.whiteForkIco{
	margin-right:5px;
	width:20px;
	height:13px;
	display:inline-block;
	overflow:hidden;
	vertical-align:middle;
	background:url(../../../../static/images/icon.png) no-repeat -26px -149px;
	}
.contentLoading{
	display:inline-block;
	padding-left:22px;
	background:url(../../../../static/images/c_loading.gif) no-repeat 0 center;
	height:20px;
	color:#999;
	}
.no-boxshadow .loadingBox,.no-boxshadow .loadingBox,.no-boxshadow tipsAlert{
	border:1px solid #ccc;
	}
.tipsAlert{
   box-shadow: 0 0 13px #999999;
   position: absolute;
   z-index:1001;
   background:#fff;
   }
.tipsAlertText{
	padding:40px;
	color:#666;
	}
.tipsAlertFoot{
	padding:30px 40px;
	text-align:right;
	}
.tipsArrow{
 	position: absolute;
	width:16px;
	height:16px;
  	}
.tipsPad{
	padding:5px 15px;
	line-height:20px;
	}